main {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    padding-bottom: 2rem;
}

footer {
    padding-top: 2rem;
}

.title {
    text-align: center;
    color: var(--text-color);
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);

}

.content {
    padding: 1rem 3rem;
    color: var(--text-color);
}

.content-text {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

.contacts-map {
    width: 100%;
    height: 35rem;
    border-radius: 1rem;
}

.contacts-container {
    gap: 2rem;
    padding: 2rem;
    background-color: var(--accent-color);
}

.contacts-holder {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    padding-top: 1rem;
    margin-bottom: 1.75rem;
}

.contacts-item {
    border-radius: 1rem;
    text-align: center;
}

.contacts-form {
    display: flex;
    flex-direction: column;
}

.contacts-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

input,
textarea {
    margin: 0.5rem 0 0.5rem;
    padding: 0.5rem 0;
    width: 100%;
    border-radius: 0.25rem;
    border: 0.1rem solid var(--border-color);
}

.contact-button {
    width: 100%;
    height: 1.5rem;
    text-align: center;
}

.button {
    width: auto;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {
    .contacts-holder {
        grid-template-columns: repeat(1, minmax(20rem, 1fr)) !important;
    }

    main {
        height: auto;
    }
}